<div class='container' id='shop-container'>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag('bracelet_1.jpg', size:'200', class: 'elephant-icon')%>
      <h5>The Lost Elephant</h5>
      <h5>$15.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('elephant_2.jpg', size:'200', class: 'elephant-icon')%>
      <h5>The Traveling Elephant</h5>
      <h5>$45.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('elephant_3.jpg', size:'200', class: 'elephant-icon')%>
      <h5>The Thinking Elephant</h5>
      <h5>$25.00</h5>
      <h5>Add to Cart</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag('elephant_4.jpg', size:'200', class: 'elephant-icon')%>
      <h5>The Lost Elephant 2 Limited Edition</h5>
      <h5>$75.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('elephant_5.jpg', size:'200', class: 'elephant-icon')%>
      <h5>The Bronze Elephant</h5>
      <h5>$150.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('elephant_6.jpg', size:'200', class: 'elephant-icon')%>
      <h5>The Rare Elephant</h5>
      <h5>$250.00</h5>
      <h5>Add to Cart</h5>
    </div>
  </div>
</div>

