<div class='container' id='shop-container'>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag('Stregnth.jpg', class: 'elephant-icon')%>
      <h5>Stregnth</h5>
      <h5>$32.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('Remembrance.jpg', class: 'elephant-icon')%>
      <h5>Remembrance</h5>
      <h5>$32.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('Patience.jpg', class: 'elephant-icon')%>
      <h5>Patience</h5>
      <h5>$32.00</h5>
      <h5>Add to Cart</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag('Love.jpg', class: 'elephant-icon')%>
      <h5>Love</h5>
      <h5>$32.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('Leadership.jpg', class: 'elephant-icon')%>
      <h5>Leadership</h5>
      <h5>$32.00</h5>
      <h5>Add to Cart</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag('Intelligence.jpg', class: 'elephant-icon')%>
      <h5>Intelligence</h5>
      <h5>$32.00</h5>
      <h5>Add to Cart</h5>
    </div>
  </div>
</div>

